---
  parser: babel-eslint
  settings:
    ecmascript : 6        # enable ES6 features
    jsx        : true     # enable jsx

  env:
    node    : true        # add node env

  rules:
    quotes:
      - 1                 # quotes are warnign
      - 'single'          # prefer single quotes (')
    no-multi-spaces : 0   # allow multiple spaces for aligning code
    no-multi-str    : 0   # disable multiline string error (jsx bug)
    key-spacing     : 0   # allow multiple spaces after obect keys

# vim: filetype=yaml
